.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(3) {
  padding-top: 0px;
}
.section--secondary {
  background-color: var(--primary-filter-color);
}
.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-title-color);
}
