$primary-white-color: #ffffff;
$accent-color: #2196f3;
$primary-text-color: #757575;
$primary-title-color: #212121;
$primary-black-color: #000000;
$primary-filter-color: #f5f4fa;
$primary-border-color: #ececec;
$secondary-border-color: #eeeeee;
$secondary-bg-color: #2f303a;
$primary-icon-color: #afb1b8;
$secondary-icon-color: rgba(255, 255, 255, 0.1);
$primary--border-icon: #afb1b8;
$primary-border-form: #212121;
$primary-placeholder-color: rgba(117, 117, 117, 0.5);
